.block {
	border: 1px solid #ccc;
	background: #eaeaea;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
	width: auto;

	padding: 0px 5px;
	box-shadow: -1px -1px 1px #fafafa inset, 1px 1px 1px #fff inset;
}

.block .header {
	padding: 8px 5px 3px;
	border-bottom: 1px solid #ccc;
}

.block .title {

}

/* block titles */
.block .title h2 {
	font-size: 14px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
}

.block .content {
	padding: 8px 10px;
	font-weight: 300;
}


/** some specific block styles for calendar block, login block, my profile block, etc. **/

.block_calendar_month table.minicalendar.calendartable td,.block_calendar_month table.minicalendar.calendartable th {
    border: none !important;
}

.block_calendar_month table.minicalendar {
    margin-bottom: 0px !important;
}

.block_calendar_month table.minicalendar.calendartable th abbr {
    border: none !important;
    text-decoration: none;
}

.block_comments div.content li {
    list-style-type: none;
}

.questionbankwindow.block {
	padding: 0px;
}

.block_tree_box hr {
	background: transparent;
	border: none;
	border-top: 1px solid #eee;
}