body{
align:center;
background: rgb(171,233,253); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(171,233,253,1) 0%, rgba(198,234,244,1) 40%, rgba(198,234,244,1) 63%, rgba(171,233,253,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(171,233,253,1)), color-stop(40%,rgba(198,234,244,1)), color-stop(63%,rgba(198,234,244,1)), color-stop(100%,rgba(171,233,253,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(171,233,253,1) 0%,rgba(198,234,244,1) 40%,rgba(198,234,244,1) 63%,rgba(171,233,253,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(171,233,253,1) 0%,rgba(198,234,244,1) 40%,rgba(198,234,244,1) 63%,rgba(171,233,253,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(171,233,253,1) 0%,rgba(198,234,244,1) 40%,rgba(198,234,244,1) 63%,rgba(171,233,253,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(171,233,253,1) 0%,rgba(198,234,244,1) 40%,rgba(198,234,244,1) 63%,rgba(171,233,253,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abe9fd', endColorstr='#abe9fd',GradientType=1 ); /* IE6-9 */
margin-top:100px;
}
div.sending{
padding:20px;
display:block;
width:600px;
border:5px solid gray;
margin:0px;
text-align:left;
font-size:20px;
-webkit-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: inset -2px 1px 2px 3px rgba(0, 0, 1, .3);
 box-shadow: inset -2px 1px 2px 3px rgba(0, 0, 1, .3);
}
div.com{
color:green;

}
div.incom{
color:red;
}